.login-page {
    margin-top: 7rem;
    margin-inline: 20rem;

    .login-form-container { 
        border: 1px solid #949494;
        border-radius: 5px;

        .form {
            padding: 1rem;

            .img-hr-admin {
                //border-radius: 50%;
            }

            .form-group {
                padding-block: 0.2rem;
            }

            .mid-container{
                button{
                    width: 10rem;
                    margin-top: 1rem;
                }
            }
        }
    }
}
